h1{
    font-family:'Roboto', sans-serif;
    text-align: left; 
    font-weight: 300;
    font-size: 40px;
    color:rgb(120, 0, 0);
    text-shadow: 2px 2px grey;
}

body{
    background-color: white;
}
form{
    font-family:'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    align-self: left;
    align-content: left;
    text-align: left;
}
h3{
    font-family: 'Roboto', sans-serif;
    font-weight: 90;
    text-align:justify;
}
input{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;

}
button{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 100;
    background-color: white;
}
